aiohttp==3.8.5
cloudscraper==1.2.71
fake-useragent==1.4.0
colorama==0.4.6
requests==2.31.0
urllib3==2.0.7
socks==1.7.1
dnspython==2.4.2
pyOpenSSL==23.2.0
cryptography==41.0.4
chardet==5.2.0
idna==3.4
async-timeout==4.0.3
multidict==6.0.4
yarl==1.9.2
attrs==23.1.0
